:root, html, body {
    margin: 0;
    padding: 0;    
}

:root {
    --green: #6aaa64;
    --darkened-green: #538d4e;
    --yellow: #c9b458;
    --darkened-yellow: #b59f3b;
    --light-gray: #d8d8d8;
    --gray: #86888a;
    --dark-gray: #3a3a3c; /*#939598;*/
    --white: #fff;
    --black: #212121;
    --orange: #f5793a;
    --blue: #85c0f9;
    --red: #cc0000;
    --header-height: 50px;
    --keyboard-height: 200px;
    --game-max-width: 500px;

    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

:root, input, textarea, button {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    transition: font-size 100ms;
    background-color: var(--black);
}

button {
    &::after {
        transition: font-size 100ms;
        font-size: x-large;

        @media screen and (max-height: 710px), screen and (max-width: 600px) {
            font-size: large;
        }
        
        @media screen and (max-height: 570px), screen and (max-width: 500px) {
            font-size: medium;
        }

        @media screen and (max-height: 470px), screen and (max-width: 400px) {
            font-size: small;
        }

        @media screen and (max-height: 300px), screen and (max-width: 300px) {
            font-size: smaller;
        }
    }

    &:active::after {
        font-size: medium;
        
        @media screen and (max-height: 710px), screen and (max-width: 600px) {
            font-size: medium;
        }
        
        @media screen and (max-height: 570px), screen and (max-width: 500px) {
            font-size: small;
        }
        
        @media screen and (max-height: 470px), screen and (max-width: 400px) {
            font-size: smaller;
        }

        @media screen and (max-height: 300px), screen and (max-width: 300px) {
            font-size: x-small;
        }
    }
}



:root, input, textarea {
    font-size: xx-large;

    @media screen and (max-height: 700px), screen and (max-width: 500px) {
        font-size: x-large;
    }

    @media screen and (max-height: 470px), screen and (max-width: 400px) {
        font-size: medium;
    }

    @media screen and (max-height: 320px), screen and (max-width: 300px) {
        font-size: smaller;
    }
}

input[type="radio"] {
    @media screen and (max-height: 300px) {
        font-size: 0;
    }
}

:root, .dark {
    --color-correct: var(--darkened-green);
    --color-present: var(--darkened-yellow);
}

.light {
    --color-correct: var(--green);
    --color-present: var(--yellow);
}

.high-contrast {
    --color-correct: var(--orange);
    --color-present: var(--blue);
}

button, input[type=radio] {
    background: linear-gradient(0deg, transparent 0%, transparent 50%, rgba(185, 185, 185, 0.5) 100%);
    box-shadow: inset var(--black) 0px 0px 2px 0px, #000 0px 2px 5px 0px;
    border: none;
    transition: box-shadow, font-size, filter, color;
    transition-duration: 75ms;

    &:hover {
        filter: brightness(140%);
        color: var(--black);
    }

    &:active {
        font-size: 0.8em;
        filter: brightness(120%);
        box-shadow: inset #000 0px 2px 5px 1px;
    }
}
